extends layout

block content
  h1 URL Shortener FreeCodeCamp API Project
  p 
    |/new/[URL] - creates a shortened URL code<br>
    |Ex. 
    a(href = "https://fcc-url-shortener-rulib.c9users.io/new/http://www.google.com") https://fcc-url-shortener-rulib.c9users.io/new/http://www.google.com
    |<br><br>
    |/[Shortened URL code] - goes to shortened URL<br>
    |Ex. 
    a(href="https://fcc-url-shortener-rulib.c9users.io/EyHeU20Ax") https://fcc-url-shortener-rulib.c9users.io/EyHeU20Ax
    |<br><br>
    |All URLs to be shortened must be in format http://[site] or https://[site]<br>
    |Ex. 'http://www.facebook.com' or 'https://www.facebook.com'
      
      
